{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "no-use-before-define": 0
  }
}